<%- include('layouts/header') %>

    <div class="jumbotron mt-4">
        <h1 class="display-4">Notes App</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque deserunt numquam distinctio,
            voluptatem, qui dolorem facilis eaque laudantium voluptatibus dignissimos, illum totam autem at omnis!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, officia.</p>


        <a href="#" class="btn btn-primary">Read More</a>
    </div>


    <%- include('layouts/footer') %>