<!-- Footer -->
<footer
  id=""
  class="navbar-fixed-bottom page-footer font-small mt-4 footer-black teal pt-4"
>
  <!-- Footer Text -->
  <div class="container text-center mx-auto pt-4">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12">
        <!-- Content -->

        <div class="mb-5 flex-center">
          <!-- Facebook -->
          <a href="https://www.facebook.com/jhoan.miguel.7330/" class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Github -->
          <a href="https://github.com/Jhoan-JS?tab=repositories" class="gi-ic">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
          </a>

          <!--Linkedin -->
          <a
            href="https://www.linkedin.com/in/jhoan-miguel-a50676212/"
            class="li-ic"
          >
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright:
    <a href="https://mdbootstrap.com/"> Dev-GG</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
